<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a class="linka" href="/">Voltar a Home</a>
    </nav>

<div class="container">
    <form action="/cadastro/add" method="POST" class="form-cadastro">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome">
        </div>
        <div>
            <label for="sobrenome">Sobrenome:</label>
            <input type="text" name="sobrenome" id="sobrenome">
        </div>
        <div>
            <label for="idade">Idade</label>
            <input type="number" name="idade" id="sobrenome">
        </div>    
        <input type="submit" value="Enviar">

    </form>
</div>
    
</body>
</html>