<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Crud Home</title>
</head>
<body>
    <div class="container-home">
        <a href="/cadastro" class="link-cadastro">Cadastro Usuario</a>
        <a href="/lista" class="link-cadastro">Lista Usuario</a>
    </div>
    
</body>
</html>